<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bonjour</h1>
    <div>
        <p>Username : <%= user.username %></p>
        <p>Email :  <%= user.email %></p>
        <% if (user.roles == 'admin') { %>
            <p>Role:  <%= user.roles %></p>
        <% } %>
    </div>

    <% if (user.roles == 'admin') { %>
        <div>
            <ul>
                <li><a href="/addProduct">Ajouter un produit</a></li>
                <li><a href="/listProduct">Liste des Produits</a></li>
            </ul>
        </div>
    <% } %>

    <a href="/logout">Deconnection</a>
</body>
</html>